@import url("http://fonts.googleapis.com/css?family=Rokkitt:400,700|Oswald:400,700,300");
body, html {
  height: 100% !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
body a, html a {
  color: #272526;
}
body a:hover, html a:hover {
  color: #272526;
}
body .home .page-title, html .home .page-title {
  color: #781a03;
  text-align: center;
  font-size: 4.5em;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100% !important;
  margin: 0 auto -106px;
}

.header {
  background: #e7e7e7;
  height: 200px;
}

.navbar-default {
  text-align: center;
  position: relative;
}

.navbar {
  border: 0;
  border-radius: 0;
}
.navbar .container {
  position: relative;
  text-align: center;
}
.navbar .navbar-toggle {
  border: none;
  margin-top: 11px;
  border-radius: 2px;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:active {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}
.navbar .navbar-toggle:focus {
  outline: none;
  background: transparent;
}
.navbar .navbar-toggle .icon-bar {
  height: 3px;
  border-radius: 0;
}
.navbar .address {
  margin-top: 10px;
  float: left;
  display: block;
  width: 180px;
  text-align: left;
}
.navbar .address h3 {
  margin: 5px 0 0 0;
  font-family: "Rokkitt", serif;
  color: #ab451c;
}
.navbar a.navbar-brand {
  width: 450px;
  height: 150px;
  margin: 15px auto 0 !important;
  padding: 0;
  display: block;
  float: none;
  color: #272526;
  background: url("../images/cc_hdr_logo_main_2.png") center center no-repeat;
  background-size: cover;
}
.navbar a.navbar-brand:hover {
  background-color: transparent;
}
.navbar .phone {
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  height: 200px;
  width: 200px;
  text-align: right;
}
.navbar .phone h3 {
  margin: 5px 0 0 0;
  font-family: "Rokkitt", serif;
  color: #ab451c;
}
.navbar a:hover {
  text-decoration: none;
}
.navbar .container-fluid-nav {
  float: left;
  display: block;
  height: 30px;
  margin-top: 10px;
  width: 100%;
  background: #272526;
}
.navbar .navbar-nav {
  margin: 0 auto;
  float: none !important;
}
.navbar .navbar-nav li a {
  color: #d75723;
  -webkit-font-smoothing: antialiased;
  padding: 7px 30px;
  font-family: "Rokkitt", serif;
  font-weight: 400;
  font-size: 1.4em;
}
.navbar .navbar-nav li a:hover {
  color: #e2764b;
  background: transparent;
}
.navbar .navbar-nav li a:focus {
  color: #d75723;
  background-color: transparent;
  outline: 0;
}
.navbar .navbar-nav li:active a {
  color: #e2764b;
  background-color: transparent !important;
}
.navbar .navbar-nav li:active a:hover {
  color: #e2764b;
  background: transparent;
}
.navbar .navbar-nav li:active a:focus {
  color: lightnen(#ab451c, 10%);
}

.navbar-default .navbar-nav li a:active {
  background-color: transparent;
}

.content {
  padding: 10px 0 10px 0;
}

#hero {
  position: relative;
  text-align: center;
}

.tag {
  position: absolute;
  top: 39.5%;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}
.tag h1 {
  color: black;
  font-weight: 700;
}

.page-title {
  font-family: "Rokkitt", serif;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#content {
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
  display: block;
}

.article-header {
  margin: 10px 0;
}

.entry-content {
  -webkit-font-smoothing: antialiased;
}

.push {
  height: 0;
  float: left;
}

.footer {
  margin-top: 0;
}

.source-org {
  display: inline-block;
  margin-bottom: 0;
  color: white;
}

.footer-nav {
  display: inline-block;
  float: right;
  margin: 0;
}
.footer-nav a {
  color: white;
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 320px) {
  ul.info {
    margin-left: -20px;
  }
  ul.info li {
    font-size: 1em;
  }
}
@media screen and (min-width: 320px) and (max-width: 568px) {
  .navbar {
    margin-bottom: 0;
  }
  .navbar .container {
    padding: 0;
  }

  a.navbar-brand {
    float: left;
    width: 100%;
    text-align: center !important;
  }

  .navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }

  .footer {
    text-align: center;
  }

  .footer-nav {
    float: none;
  }
  .footer-nav li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }

  .source-org {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .home a.navbar-brand {
    width: 90% !important;
    background-size: contain !important;
  }

  a.navbar-brand {
    width: 90% !important;
    background-size: contain !important;
  }

  .navbar-nav li {
    position: static;
  }
}
@media screen and (min-width: 768px) {
  .navbar-nav li {
    position: absolute;
  }
  .navbar-nav li:nth-child(1) {
    left: 0;
    top: 0;
  }
  .navbar-nav li:nth-child(1) a {
    padding-left: 15px;
  }
  .navbar-nav li:nth-child(2) {
    left: 120px;
    top: 0;
  }
  .navbar-nav li:nth-child(3) {
    right: 180px;
    top: 0;
  }
  .navbar-nav li:nth-child(4) {
    right: 0;
    top: 0;
  }
  .navbar-nav li:nth-child(4) a {
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1080px;
  }
}
