//BRAND COLORS CENTRAL COFFEE
$paleWhite: #E7E7E7
$lightGrey: #B3A9AF
$darkGrey: #272526
$white: #FFFFFF
$gold: #E69739
$cream: #eae3d0
$orange: #EA7E38
$redOrange: #E05D24
$darkRed: #781A03
$brown: #35271F

@import url('http://fonts.googleapis.com/css?family=Rokkitt:400,700|Raleway:300,400,500,700')
@import url('../css/style.css')

body, html
	height: 100% !important
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	font-family: 'Raleway', sans-serif
	font-weight: medium !important
	background: $cream !important
	a
		color: white
		&:hover
			color: white
	.home
		.header
			background: transparent
			height: 0
			position: relative
		.navbar
			background: transparent
			margin-top: 41%

		.address, .phone
			display: none !important
		.logo-container, .navbar-brand
			display: none
		.logo-container-home
			position: relative
			text-align: center !important
			width: 100% !important
		.navbar-brand-home
			display: block
			position: absolute
			width: 100% !important
			top: 0
			left: 0
			height: 200px
			z-index: 2000
			padding: 0
			background: url('../images/cc-logo-light-2.png') center  center no-repeat
			background-size: contain
			background-position: center center !important
			float: none
		.main
			background: rgba(0,0,0,0.78039)
			width: 400px
			height: 370px
			margin: 50px 0 0 0
			padding: 20px
			margin-bottom
			.copy
				color: $paleWhite
				font-weight: 600
				font-family: 'Rokkitt', serif
		.main-column
			.sub-head
				color: $redOrange !important
				font-family: 'Rokkitt', serif
				font-size: 2.45em
				font-weight: 600
				margin-top: 10px
				margin-bottom: 10px
				text-align: center
			p
				font-size: 2em
				color: $brown
				font-family: 'Rokkitt', serif
				font-weight: bold
				text-align: center
		.info
			h2, a
				color: $redOrange


		.page-title
			color: $orange
			text-align: left
			font-size: 2.3em
			margin-top: 0
		.column-1
			p
				font-family: 'Rokkitt', serif
				font-size: 1.35em
				font-weight: medium !important
				line-height: 1.3em
.panels
	.sub-head
		color: $redOrange
		font-family: 'Rokkitt', serif
		margin-bottom: 22px
		font-size: 2.45em
		font-weight: 600
.wrapper
	min-height: 100%
	height: auto !important
	height: 100% !important
#main-content
	margin: 20px auto
	position: relative

// HEADER
.header
	background: $cream
	height: 230px
.masthead
	width: 1080px
	margin: 0 auto
	padding: 0 15px
	
.navbar-brand
	height: 180px
	margin: 10px 0 !important
	background-color: transparent
	display: inline-block
	float: left
	width: 50%
	&:hover
		background-color: transparent
	background: url('../images/cc-logo-light-2.png') center  center no-repeat
	background-size: 85%
.address
	height: 150px
	padding: 110px 0 10px 5px
	text-align: left
	display: inline-block !important
	float: left
	width: 25%
	h2
		font-size: 1.7em
		font-weight: 500
		line-height: 1em
		margin: 0
		font-family: 'Rokkitt', serif
		color: $brown
.phone
	height: 150px
	padding: 110px 5px 10px 0
	text-align: right
	display: inline-block !important
	float: left
	width: 25%
	h3
		font-size: 1.7em
		font-weight: 500
		line-height: 1em
		margin: 0
		font-family: 'Rokkitt', serif
		color: $brown
	a
		color: $brown
		&:hover
			text-decoration: none

// -------------------------------------     NAV

.navbar-default
	text-align: center
	position: relative

.navbar
	border: 0
	border-radius: 0
	background: $brown
	min-height: 30px !important

	.container
		position: relative
		text-align: center
	.navbar-toggle
		border: none
		float: none
		width: 100%
		margin: 0 
		height: 35px
		border-radius: 0
		background: $redOrange
		span
			font-family: 'Rokkitt', serif
			color: white
			font-size: 1.6em
			margin: 3px auto
			height: 15px
			line-height: 10px
		&:hover, &:active
			background: transparent
			outline: none
		&:focus
			outline: none
			background: transparent
		.icon-bar
			margin: 3px auto
			height: 2px
			border-radius: 0
			background-color: $cream

	.navbar-nav
		margin: 0 auto
		li
			padding: 5px
			a
				color: $cream
				-webkit-font-smoothing: antialiased
				padding-top: 2px
				padding-bottom: 0
				font-family: 'Rokkitt', serif
				font-weight: 500
				font-size: 1.4em
				&:hover
					color: darken($cream, 10%)
					background: transparent
				&:focus
					color: white
					background-color: transparent 
					outline: 0
			&:active
				a
					color: $redOrange !important
					background-color: transparent !important
					&:hover
						a
						color: $redOrange
						background: transparent
					&:focus
						a
						color: $redOrange

//			&:last-child
//				a
//					padding: 20px 0 20px 15px

.content
	padding: 10px 0 10px 0
	font-family: 'Raleway', sans-serif
	font-size: 1.5em
.entry-content
	color: white

//------------------------------------ HERO
.hero
	margin-top: 0
	padding: 0 !important
	width: 100% !important
	img
		width: 100%
	.slick-dots 
		position: absolute
		bottom: -8%
		margin-bottom: 0
.site-tagline
	text-align: center
	font-family: 'Rokkitt', serif
	font-size: 4em
	color: $darkGrey
	display: block
	width: 100%
	padding: 0 20%
	margin: 40px 0
	float: none



// Slider
.full-width 
	.slick-slider
		margin: 0 0 30px 0
		height: 100% !important
		
.sliders
	background-size: 100% !important
	background-repeat: no-repeat !important
	height: 100% !important


.slick-slider 
	position: relative 
	display: block 
	width: 100%
	background: transparent
	margin: 0 0 40px 0
	padding: 20px 2% 20px 3%
	box-sizing: border-box 
	-moz-box-sizing: border-box 
	-webkit-touch-callout: none 
	-webkit-user-select: none 
	-khtml-user-select: none 
	-moz-user-select: none 
	-ms-user-select: none 
	user-select: none 
	-ms-touch-action: none 
	touch-action: none 
	-webkit-tap-highlight-color: transparent

.slick-list
	position: relative 
	overflow: hidden 
	display: block 
	margin: 0 
	padding: 0
.slick-list
	&focus
		outline: none
.slick-loading .slick-list
	background: white url('ajax-loader.gif') center center no-repeat
.slick-list.dragging 
	cursor: pointer
	cursor: hand

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img
	-webkit-transform: translate3d(0, 0, 0) 
	-moz-transform: translate3d(0, 0, 0) 
	-ms-transform: translate3d(0, 0, 0) 
	-o-transform: translate3d(0, 0, 0) 
	transform: translate3d(0, 0, 0)

.slick-track 
	position: relative
	left: 0
	top: 0
	display: block
	zoom: 1
	width: 100% 
	height: 100% !important
.slick-track
	&:before
		content: ""
		display: table
	&:after 
		content: ""
		display: table
.slick-track
	&:after 
		clear: both

.slick-loading .slick-track
	visibility: hidden

.slick-slide 
	float: left
	height: 100% !important
	min-height: 1px
	overflow: hidden
	display: none

.slick-slide 
	&:img
		display: block
		float: left
.slick-slide .slick-loading 
	&:img
		display: none
.slick-slide.dragging 
	&:img
		pointer-events: none
.slick-initialized .slick-slide
	display: block
.slick-loading .slick-slide 
	visibility: hidden
.slick-vertical .slick-slide
	display: block
	height: auto
	border: 1px solid transparent
//Icons 
@font-face
	font-family: 'slick'
	font-weight: normal
	font-style: normal
	src: url('../../library/fonts/slick.eot')
	src: url('../../library/fonts/slick.eot?#iefix') format("embedded-opentype"), url('../../library/fonts/slick.woff') format("woff"), url('../../library/fonts/slick.ttf') format("truetype"), url('../../library/fonts/slick.svg#slick') format("svg")

// Arrows 
.slick-prev, .slick-next
	position: absolute
	display: block
	height: 40px
	width: 40px
	font-family: 'slick'
	line-height: 0
	font-size: 1.8em
	cursor: pointer
	background: transparent
	color: transparent
	top: 50%
	margin-top: -10px
	padding: 0
	border: none
	outline: none
	z-index: 1020

.hero
	max-height: 628px
	.slick-prev, .slick-next
		top: 50%

.slick-prev:focus, .slick-next
	&:focus
		outline: none
.slick-prev.slick-disabled, .slick-next.slick-disabled
	&:before
		opacity: 0.5

.slick-prev, .slick-next
	&:before
		font-family: 'slick' !important
		font-size: 1em
		line-height: 1
		color: $redOrange
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale

.slick-prev
	left: 30px

[dir='rtl'] .slick-prev
	right: -10px
	left: auto

.slick-prev:before
	content: '←'

[dir='rtl'] .slick-prev:before
	content: '→'
	color: white

.slick-next
	right: 30px

[dir='rtl'] .slick-next
	right: auto
	left: -25px

.slick-next:before
	content: '→'

[dir='rtl'] .slick-next:before
	content: '←'
//Dots 
.slick-dots 
	position: absolute
	list-style: none
	display: block
	text-align: center
	padding: 0px
	width: 100%
	z-index: 1020 !important
	zoom: 1

.slick-dots 
	li
		position: relative
		display: inline-block
		height: 20px
		width: 20px
		margin: 0px 5px
		padding: 0px
		cursor: pointer

.slick-dots 
	li 
		button 
			border: 0
			display: block
			height: 10px
			width: 10px
			outline: none
			line-height: 0
			font-size: 0
			background-color: $brown
			padding: 5px
			cursor: pointer

.slick-dots 
	li 
		button
			&:focus
				outline: none
.slick-dots 
	li 
		button
			color: $brown
			&:before
				position: absolute
				top: 0
				left: 0
				content: "■"
				font-size: .8em
				line-height: 20px
				text-align: center
				color: white
				opacity: 0.25
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
.slick-dots 
	li.slick-active 
		button
			&:before 
				opacity: 0.75

.slides
	.item
		height: auto

.film-strip
	background: $brown


//----------------------------PAGE CONTENT
.page-title
	font-family: 'Rokkitt', serif

.center-block 
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center

#content
	-webkit-font-smoothing: antialiased
	margin-top: 20px
	display: block
	p
		font-family: 'Rokkitt', serif
		color: $brown
		font-size: 1.35em !important
		line-height: 1.5em !important
	.sub-head
		color: $redOrange
		font-family: 'Rokkitt', serif
//#inner-content
.article-header
	margin: 10px 0

.entry-content
	-webkit-font-smoothing: antialiased

.archive-title
	color: lighten($brown, 5%)
	margin-top: 0
.post
	padding: 10px 0
	margin-right: 30px
	border-bottom: 1px solid darken($gold, 10%)
	a
		color: $brown
		text-decoration: underline
.posts-title
	font-size: 1.5em
	a
		color: lighten($brown, 5%) !important
		text-decoration: none
//-------------------------------------------- MENU
.menu

.panel
	background: $cream
	box-shadow: none
	padding-right: 20px
	p
		font-family: 'Rokkitt', serif
		
.sub-head
	font-family: 'Rokkitt', serif
	color: $redOrange


//-------------------------------------------- SIDEBAR
.sidebar
	background: lighten($brown, 5%)
	padding-top: 10px
.widgettitle
	color: $gold
	text-align: center
.widget
	li
		list-style-type: none
	a
		font-size: 1.2em
		padding: 10px 0
.widget_calendar
	text-align: center
	#wp-calendar
		width: 100%
	#prev
		padding-top: 10px
		text-align: left
	#next
		padding-top: 10px
		text-align: right
	caption
		margin: 0 auto
		color: $gold
	thead

	th
		color: $gold
		text-align: center
	td
		color: $gold

// FORM

.frm_forms.frm_style_formidable-style.with_frm_style 
	margin-left: 9%
	margin-right: 20%

.private
	margin-left: 9%
	font-size: 8px


// FOOTER
.push
	height: 0
	float: left
.footer
	margin-top: 0
	background: $brown
	.container
		width: 1200px !important
		margin: 0 auto
	.source-org
		margin-bottom: 0
		color: white
		font-family: 'Rokkitt', serif !important
		a, p
			display: inline-block
			border-right: 1px solid $redOrange
			padding: 0 30px
		.copyright
			border-right: 0
			display: inline-block
			text-align: center
			padding-right: 0
			padding-left: 30px
.footer-nav
	display: inline-block
	margin: 0
	a
		color: white
		padding: 0 30px 0 30px
		border-right: 1px solid $redOrange
		font-family: 'Rokkitt', serif !important


//--------------------------------------------- MEDIA QUERIES --------------------------------------**********************
@media screen and (max-width:320px)
	ul.info
		margin-left: -20px
		li
			font-size: 1em

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation : portrait)
	.home
		.header
			height: 100px !important
		.navbar
			margin-top: 67%	!important
		.masthead
			height: 0
		.navbar-brand-home
			background-size: 70% !important
			height: 150px !important
			top: 3.5% !important
		.slick-prev, .slick-next
			display: none !important
		.site-tagline
			font-size: 1.8em
			margin: 0
		#main-content
			.sub-head, p
				font-size: 1.8em !important
			.info
				h2
					font-size: 1.5em !important
					text-align: center !important
	.footer
		padding: 20px 0 !important
		.container
			width: 100% !important
			min-height: 180px
		.source-org
			text-align: center !important
			display: block
			a, p
				display: block
				width: auto
				padding: 0
				margin-left: 0 !important
				margin-right: 0 !important
				margin-bottom: 5px
				border: 0
				float: none
				text-align: center !important
	.footer-nav
		display: block !important
		height: 20px
		li
			display: block
			a
				display: block
				margin: 0 0 5px
				width: 100% !important
				text-align: center
				float: none
				border: 0
	

	.mobile-address
		font-size: 1.2em
	.mobile-phone
		font-size: 1.2em
@media screen and (min-width: 481px) and (max-width: 568px) and (orientation : portrait)
	.home
		.header
			height: 100px !important
		.navbar
			margin-top: 61%	!important
		.masthead
			height: 0
		.navbar-brand-home
			background-size: 70% !important
			height: 150px !important
			top: 5% !important

		.slick-prev, .slick-next
			display: none !important
		.hero
			height: auto !important
		.site-tagline
			font-size: 1.8em

	.navbar-brand
		width: 100%
		height: 105px
	.panels
		width: 100% !important
		height: 100%
		background: rgba(0, 0, 0, 0.2) !important
		margin: 0 !important
		padding: 15px 65px 
		.sub-head
			margin-top: 0
			margin-bottom: 10px
			font-size: 1.5em
			font-weight: 500
	
	.img-responsive
		width: 100%
	.column-1
		p
			font-size: 1em !important

	label.frm_primary_label
		text-align: left !important
	.frm_submit
		width: 100% !important
		margin-right: 0
		input
			width: 100% !important

	.footer
		padding: 20px 0 !important
		.container
			width: 100% !important
			min-height: 180px
		.source-org
			text-align: center !important
			display: block
			a, p
				display: block
				width: auto
				padding: 0
				margin-left: 0 !important
				margin-right: 0 !important
				margin-bottom: 5px
				border: 0
				float: none
				text-align: center !important
	.footer-nav
		display: block !important
		height: 20px
		li
			display: block
			a
				display: block
				margin: 0 0 5px
				width: 100% !important
				text-align: center
				float: none
				border: 0

@media screen and (max-width: 568px)
	.header
		height: auto !important
	.navbar
		margin-bottom: 0
		height: auto !important

	.masthead
		width: 100% 
		padding: 0 10px
		display: block
	.navbar-brand
		width: 100% !important
		background-size: contain !important
		display: block !important
	h4.mobile-address, h4.mobile-phone
		width: 100%
		text-align: center
		color: $brown
		display: block
		font-family: 'Rokkitt', serif
		a
			color: $brown
			font-size: 1.3em
	h4.mobile-address
		margin-bottom: 2px
	h4.mobile-phone
		margin-top: 0

	.home
		.main
			background: rgba(0,0,0,0.78039)
			width: 100% !important
			height: auto
			margin-top: 0 !important
			padding: 10px
		.full-width
			padding: 0 !important
			margin-bottom: 10px
			.container
				padding: 0
				height: 100% !important
				.main
					padding: 10px
					height: 100%
		.copy
			font-size: 1em
		.subhead
			font-size: 1.5em
	
		h2.page-title
			font-size: 1.5em
	.slides
		background-size: 100%
		height: 100%

	.panels
		width: 100% !important
		background: rgba(0, 0, 0, 0.2) !important
		margin: 0 !important
		padding: 10px 65px 0
		.sub-head
			margin-top: 0
			margin-bottom: 20px
			font-size: 1.5em
			font-weight: 500

	.slick-dots
		display: none !important

	.col-md-6
		.sub-head
			font-size: 2em !important
			font-weight: 600
			margin-top: 10px
			margin-bottom: 10px
	

	.page-id-4, .page-id-10
		#main
			width: 100%
		.article-header
			text-align: center
		.entry-content
			padding-left: 0
			width: 100%
		.page-title
			margin-left: 0
		p
			margin-left: 0



	.private
		margin-left: 0
.map
	padding-left: 0
	.img-responsive
		width: 100%


@media screen and (max-width: 568px) and (orientation : landscape)
	.header
		height: auto !important
	.hero
		height: 60% !important
		.panels
			height: 100% !important
			width: 100% !important
			margin: 0 !important
			padding: 20px 40px !important
		.slick-dots
			display: none
	.sliders
		background-size: cover !important
		min-height: 200px !important
		width: auto


	.img-responsive
		width: 94%

	.page-id-4, .page-id-10
		p
			margin-left: 200px

	#frm_field_8_container, #frm_field_10_container, #frm_field_12_container, #frm_field_13_container
		width: 100% !important
		input
			float: right

		label.frm_primary_label
			width: 120px !important
			text-align: right !important

	.frm_submit
		width: 100% !important
		float: left
		margin-right: 0
		input
			width: 76% !important
			float: right
	.frm_error
		margin-left: 130px !important

@media screen and (min-width: 569px) and (max-width:767px)
	.home
		.navbar
			margin-top: 43%	!important
		.navbar-brand-home
			margin-top: 7% !important
			background-size: 50% !important

	.hero
		margin-bottom: 0 !important
	.sliders
		background-size: 100% auto !important
		height: auto !important

	.panels
		height: 180px !important
		width: 50% !important
		margin: 3% 0 7% 80px !important
		.sub-head
			font-size: 1.5em
			font-weight: 500
			margin: 0 0 8px 0

	.slick-dots
		button
			margin-top: 10px

	.footer
		padding: 20px 0 !important
		.container
			width: 100% !important
			min-height: 180px
		.source-org
			text-align: center !important
			display: block
			a, p
				display: block
				width: auto
				padding: 0
				margin-left: 0 !important
				margin-right: 0 !important
				margin-bottom: 5px
				border: 0
				float: none
				text-align: center !important
	.footer-nav
		display: block !important
		height: 20px
		li
			display: block
			a
				display: block
				margin: 0 0 5px
				width: 100% !important
				text-align: center
				float: none
				border: 0

@media screen and (max-width: 516px)
	.address, .phone
		display: none !important

@media screen and (min-width: 569px)
	.visible-xs
		display: none !important

@media screen and (max-width:767px)
	.navbar
		background: transparent
		.container
			padding: 0
	.navbar-collapse
		padding: 0
		border-top: 0

	.navbar-toggle
		background: $redOrange
		.container-fluid-nav
			background: transparent
			margin: 0
			height: 0
			.container
				padding: 0
	.navbar-default
		.navbar-nav
			li
				background: $redOrange
				border-bottom: 1px solid white
				&:first-child
					border-top: 1px solid white
				a
					color: white
	.navbar ul>li a:active
		color: white !important
	.navbar-default .navbar-nav li a:active
		color: white !important
	.archive
		.post
			margin-right: 0
	
@media screen and (min-width:768px)
	.navbar-nav
		li
			position: absolute
			&:nth-child(1)
				left: 0
				top: 0
				a
					border-right: 1px solid $redOrange
					padding-left: 0 !important
					padding-right: 40px
			&:nth-child(2)
				left: 120px
				top: 0
			&:nth-child(3)
				right: 180px
				top: 0
				a
					border-right: 1px solid $redOrange
					padding-right: 70px
			&:nth-child(4)
				right: 0
				top: 0
				a
					padding-right: 0
					padding-left: 30px
	
@media screen and (min-width: 517px) and (max-width: 678px) 
	.home
		.masthead
			height: 0

	.masthead
		width: 100% !important
		height: 180px
		padding: 0 10px
		display: block

	.navbar-brand
		width: 50% !important
		background-size: contain !important
		display: inline-block !important
		float: left

	.address 
		max-width: 25% !important
		padding-top: 50px
		padding-left: 12px
		display: inline-block !important
		float: left
		h3
			font-size: 1.4em
	.phone  
		max-width: 25% !important
		padding-top: 50px
		padding-right: 12px
		display: inline-block !important 
		float: left
		h3
			font-size: 1.4em   
	.hidden-xs
		display: inline-block !important
@media screen and (min-width: 679px) and (max-width: 745px)
	.home
		.navbar-brand
			background-size: 50% !important
			margin-left: -15% !important

@media screen and (min-width: 768px)
	.navbar-default .navbar-nav>.active>a
		color: $redOrange

@media screen and (min-width: 768px) and (max-width:991px) 

	.navbar-nav
		li
			&:nth-child(1)
				margin-left: 15px
			&:nth-child(4)
				margin-right: 15px


@media screen and (min-width: 698px) and (max-width: 1024px) 
	.img-responsive
		width: 94%
	
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait)
	.home
		.navbar
			margin-top: 39% !important

	.footer
		padding: 20px 0 !important
		.container
			width: 100% !important
			min-height: 180px
		.source-org
			text-align: center !important
			display: block
			a, p
				display: block
				width: auto
				padding: 0
				margin-left: 0 !important
				margin-right: 0 !important
				margin-bottom: 5px
				border: 0
				float: none
				text-align: center !important
	.footer-nav
		display: block !important
		height: 20px
		li
			display: block
			a
				display: block
				margin: 0 0 5px
				width: 100% !important
				text-align: center
				float: none
				border: 0
			
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape)

@media screen and (min-width: 481px) and (max-width: 745px)
	.sub-head
		text-align: center  

@media screen and (min-width: 746px) and (max-width: 901px)
	.home
		.masthead
			height: 0 !important
	.masthead
		width: 100% !important
		margin: 0 auto
		height: 200px
		padding: 0 15px
		display: block
	.navbar-brand
		width: 50% !important
		background-size: contain !important
		display: inline-block !important
		float: left
	.address 
		max-width: 27% !important
		padding-top: 70px
		padding-left: 15px
		display: inline-block !important
		float: left
	.phone  
		max-width: 27% !important
		padding-top: 70px
		padding-right: 15px
		display: inline-block !important 
		float: left   

	.sub-head
		text-align: center  

	.hidden-xs
		display: inline-block !important

@media screen and (min-width: 902px) and (max-width: 991px)

	.masthead
		width: 100% !important
		padding: 0 15px

	.navbar-brand
		width: 44% !important
		background-size: contain

	.address .col-md-3 
		width: 28% !important
		display: inline-block !important

	.phone .col-md-3
		width: 28% !important
		padding-right: 20px
		display: inline-block !important  

	.sub-head
		text-align: center  


@media screen and (min-width: 1024px)
	.img-responsive
		width: 94%
	
@media screen and (min-width: 768px) and (max-width: 1199px)	
	.home
		.navbar-brand-home
			margin-top: 11% !important
			background-size: 50% !important

	.archive
		#main, #container
			width: 60%
			float: left
		.sidebar
			width: 40%
			float: right
	.hero
		margin-bottom: 0 !important
	

	.slick-dots
		button
			margin-top: 10px

@media screen and (min-width: 768px) and (max-width: 1090px)	
	
	.panels
		height: 200px !important
		width: 40% !important
		margin: 3% 0 6% 80px !important
		.sub-head
			font-size: 2em
			font-weight: 500
			margin-top: 0

@media screen and (min-width: 1091px) and (max-width: 1199px)


	.panels
		position: relative
		height: 300px
		margin:  5% 0 6% 80px !important
		.sub-head
			font-size: 1.5em
			font-weight: 600
			margin-top: 0
	.slick-dots
		bottom: -5%

@media screen and (min-width: 992px) and (max-width: 1199px)
	.masthead
		width: 970px !important
		margin: 0 auto !important
		padding: 0 15px
	

@media screen and (min-width: 1200px)
	.home
		.navbar-brand-home
			margin-top: 12% !important
	.container
		width: 1080px

	#main
		width: 100%
	
	.panels
		height: 300px
		margin:  5% 0 7% 80px 
		.sub-head
			font-size: 2em
			font-weight: 600

	.slick-dots
		bottom: -22%