//BRAND COLORS
$lightGrey: #B3A9AF
$darkGrey: #3F3C3E
$white: #FFFFFF
$green: #6AD137
$lightGreen: #72F631

body, html
	height: 100% !important
	-webkit-font-smoothing: antialiased
	.home
		.row
			margin-bottom: 10px
		.col-md-3
			width: 32%
			background: green
			color: white
			font-size: 1.2em
			font-weight: 600
			margin: 0 5px
			padding: 10px
			min-height: 300px

.wrapper
	min-height: 100%
	height: auto !important
	height: 100% !important
	margin: 0 auto -106px



// HEADER
.navbar
	.container
		position: relative
	.navbar-toggle
		border: none
		margin-top: 11px
		border-radius: 2px
		&:hover, &:active
			background: rgba(0, 0, 0, .1)
			outline: none
		&:focus
			outline: none
			background: transparent
		.icon-bar
			height: 3px
			border-radius: 0

	a.navbar-brand
		color: white !important
		&:hover
			background-color: rgba(0, 0, 0, .1)
	.navbar-nav
		float: right
	.navbar-nav
		li
			a
				color: white
				-webkit-font-smoothing: antialiased
				padding: 20px 15px
				font-size: 16px
				font-weight: 300
				&:hover
					color: white
					background: rgba(0, 0, 0, .1)
				&:focus
					color: white
					background: rgba(0, 0, 0, .1)
					outline: 0
			&.active
				a
					color: white
					background: rgba(0, 0, 0, .1)
					&:hover
						color: white
						background: rgba(0, 0, 0, .2)
					&:focus
						color: white
//			&:last-child
//				a
//					padding: 20px 0 20px 15px
.navbar-default
	background: green
.content
	padding: 10px 0 10px 0
	


// HERO
#hero
	position: relative
	text-align: center
	
.tag
	color: green


	

//PAGE CONTENT


#content
	-webkit-font-smoothing: antialiased
	margin-top: 0
	display: block

#inner-content
	padding: 10px 0 0 0
	display: block
	margin-left: 0
	margin-right: 0

.article-header
	margin: 10px 0


.entry-content
	-webkit-font-smoothing: antialiased


.visual
	float: left
	width: 450px 
	height: 300px
	padding: 0
	text-align: center
	margin-left: 15px

.services
	li
		font-size: 1.25em
		font-weight: 300
		margin-bottom: 4px

.archive-title, .entry-title, .page-title
	color: black
	margin: 0

.page-title, .entry-title, .archive-title, .posts-title, .excerpt-read-more
	a
		color: black

// SIDEBAR


// FOOTER
.push
	height: 0
	float: left
.footer
	background: darkGrey
.source-org
	display: inline-block
	margin-bottom: 0
	color: white
.footer-nav
	display: inline-block
	float: right
	margin: 0
	a
		color: white


// SOCIAL
.social
	margin-left: -40px
	margin-top: 20px


	
// MEDIA QUERIES

@media screen and (max-width: 480px)


@media screen and (min-width: 569px) and (max-width:767px)


@media screen and (min-width: 768px) and (max-width:991px)


	.col-md-4
		display: inline-block

@media screen and (min-width: 1200px)
	.container
		width: 1024px