//BRAND COLORS
$lightGrey: #B3A9AF
$darkGrey: #272526
$white: #FFFFFF
$green: #6AD137
$lightGreen: #C2D785
$sage: #B1BBA9
$lightSage: #C6CBBA
$dark-beige: #7F7F67

body, html
	height: 100% !important
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	.home
		.row
			margin-bottom: 10px
		.col-md-3
			width: 32%
			background: $sage
			color: white
			font-size: 1.2em
			font-weight: 600
			margin: 0 5px
			padding: 10px
			min-height: 300px
		.test
			background: $sage
			border: 1px solid darken($sage, 20%)
			color: white
			em
				float: right

	a
		color: green
		&:hover
			color: green 

.wrapper
	min-height: 100%
	height: auto !important
	height: 100% !important
	margin: 0 auto -106px

// HEADER
.navbar-default
	background: green
.navbar
	.container
		position: relative
	.navbar-toggle
		border: none
		margin-top: 11px
		border-radius: 2px
		&:hover, &:active
			background: rgba(0, 0, 0, .1)
			outline: none
		&:focus
			outline: none
			background: transparent
		.icon-bar
			height: 3px
			border-radius: 0

	a.navbar-brand
		line-height: 30px
		color: white !important
		&:hover
			background-color: transparent
	.navbar-nav
		float: right
	.navbar-nav
		li
			a
				color: white
				-webkit-font-smoothing: antialiased
				padding: 20px 15px
				font-size: 16px
				font-weight: 300
				&:hover
					color: white
					background: rgba(0, 0, 0, .1)
				&:focus
					color: white
					background: rgba(0, 0, 0, .1)
					outline: 0
			&.active
				a
					color: white
					background: rgba(0, 0, 0, .1)
					&:hover
						color: white
						background: rgba(0, 0, 0, .2)
					&:focus
						color: white
//			&:last-child
//				a
//					padding: 20px 0 20px 15px

.content
	padding: 10px 0 10px 0
	
// HERO
#hero
	position: relative
	text-align: center
	
.tag
	color: green

//PAGE CONTENT
.center-block 
	display: block
	margin-left: auto
	margin-right: auto
	text-align: center

#content
	-webkit-font-smoothing: antialiased
	margin-top: 0
	display: block

#inner-content
	padding: 10px 0 0 0
	display: block
	margin-left: 0
	margin-right: 0

.article-header
	margin: 10px 0


.entry-content
	-webkit-font-smoothing: antialiased


.visual
	float: left
	width: 450px 
	height: 300px
	padding: 0
	text-align: center
	margin-left: 15px

#main-content
	p
		font-size: 1.5em
		font-weight: 200
		line-height: 1.5em
		color: darken($darkGrey, 10%)
	padding: 10px 0
	background-color: lighten($lightSage, 10%)
	border-top: 1px solid $lightSage
	border-bottom: 1px solid $lightSage

#testimonials
	padding: 10px 0
	margin: 10px 0
h1.section-header
	color: darken($darkGrey, 15%) !important
#info
	padding: 10px 0

blockquote
	border-left: 0

.services
	ul
		margin-left: 30px
	li
		font-size: 1.25em
		font-weight: 300
		margin-bottom: 4px
	h4
		margin: 20px 0 10px
	p
		font-size: 1.25em
		font-weight: 300
ul.extras
	margin-left: -20px !important
	li
		font-size: 1.25em
		font-weight: 300
		margin-bottom: 4px



.archive-title, .entry-title, .page-title
	color: black
	margin: 0

.page-title, .entry-title, .archive-title, .posts-title, .excerpt-read-more
	a
		color: black

// FORM
.quote-form
	background-color: $lightSage
	padding-left: 0

.wpcf7-form
	@extend.form-horizontal

.form-horizontal .form-group
	margin-left: 0
	marging-right: 0 !important
	padding: 0 20px

.wpcf7-form-control
	width: 100%

	

label.col-sm-4
	float: left
	clear: both
	display: block

span.wpcf7-form-control-wrap


span.wpcf7-radio options
	width: 100%

.control-label
	padding-left: 0

.wpcf7-submit
	background: $green
	border: 0
	border-radius: 0
	color: $white 
	&:hover
		background: darken($green, 10%)


// FOOTER

.push
	height: 0
	float: left
.footer
	background: $dark-beige
	
.source-org
	display: inline-block
	margin-bottom: 0
	color: white
.footer-nav
	display: inline-block
	float: right
	margin: 0
	a
		color: white



	
// MEDIA QUERIES

@media screen and (max-width: 480px)


@media screen and (min-width: 569px) and (max-width:767px)


@media screen and (min-width: 768px) and (max-width:991px)


	.col-md-4
		display: inline-block

@media screen and (min-width: 1200px)
	.container
		width: 1024px